//home-page

body {
    @media @mobile{
        max-width: 500px;
    }
    #wrapper {
        margin-left: 20%;
        //padding:1px 16px;
        //height:1000px;
        
        @media @tablet{
            margin:0;
        }

        @media @mobile{
            width: auto;
        }

        #intro {
            background-color: @bg-social-color;
            background-attachment: fixed;
            background-image: url('/images/micah-boswell-OPnBJ5L2oxs-unsplash.jpg');
            background-position: top right;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            min-height: calc(100vh - 2.5rem);
            display: flex;

            .inner {
                //width: 100%;
                padding: 4em 4em 2em 4em;
                width: 70rem;
                margin: 20rem;

                @media @mobile{
                    margin: 20rem 0rem;
                }


                h1 {
                    margin-bottom: 2rem;
                    font-size: 6rem;
                    color:@text-color-intro;
                    text-shadow: 5px 4px 4px #000000;

                    @media @mobile{
                        font-size: 5rem;
                        text-align: center;
                    }
                }

                p {
                    font-size: 2.5rem;
                    margin: 0 0 2rem 0;
                    font-family: Arial, Helvetica, sans-serif;
                    color: @text-color-intro;
                    text-shadow: 5px 4px 4px #000000;

                    @media @mobile{
                        text-align: center;
                    }
                }
            }
        }

        #projects {
            background-color: #484aa3;

            section {
                display: flex;
                width: 100%;

                @media @tablet{
                    flex-direction: column;
                    align-items: center;
                }

                @media @mobile{
                    flex-direction: column;
                    align-items: center;
                }

                a {
                    img {
                        border-radius: 0.2rem;
                        border: 0;
                        position: relative;
                        height: 100%;
                        max-width: 100%;
                        width: 180rem;
                        // object-fit: contain;
                        // max-height: 400px;

                        

                        @media @mobile{
                            width: 100%;
                        }
                    }
                }

                .content {
                    padding: 4em 4em 2em 4em;
                    width: 100%;


                    .inner {
                        h2 {
                            padding: 1rem;
                        }

                        p {
                            color: @text-color-sec;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            padding: 1rem;
                        }

                        .tech{
                            color: @text-color-pri;
                            font-size: 2rem;
                            font-family: Arial, Helvetica, sans-serif;
                            font-weight: bold;

                            i{
                                font-size: 2.5rem;
                            }
                        }

                        ul {
                            list-style: none;
                            margin: 2rem 0 2rem 0;
                            padding-left: 1rem;
                            display: flex;

                            @media @tablet{
                                padding: 2rem 0 0 0;
                            }

                            li {
                                margin-right: 15px;

                                .button {
                                    background-color: transparent;
                                    border: solid .1rem;
                                    font-size: 1rem;
                                    position: relative;
                                    text-align: center;
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    white-space: nowrap;
                                    border-radius: 3rem;
                                    font-family: Arial, Helvetica, sans-serif;

                                    color: @text-color-sec;
                                    cursor: pointer;
                                    display: inline-block;

                                    font-weight: bold;
                                    height: calc(4.75rem + 2px);
                                    letter-spacing: 0.25rem;
                                    line-height: 4.75rem;
                                    outline: 0;
                                    padding: 0 3.75rem;
                                    position: relative;

                                    &:hover {
                                        color: @text-color-pri;
                                        transition: color 1s ease;
                                        background-color: tint(rgba(128, 128, 128, 0.192), 1%);
                                        transition: background-color .5s ease;
                                    }
                                }
                            }
                        }
                    }
                }

                #first {
                    background-color: @bg-color1;
                }

                #second {
                    background-color: @bg-color2;
                }

                #third {
                    background-color: @bg-color1;
                }

                #fourth {
                    background-color: @bg-color2;
                }
            }
        }

        #two {
            background-color: #b74e91;
        }

        #contacts {
            background-color: @bg-footer-color;
            position: relative;
            height: 500px;
            text-align: center;

            .inner {

                h2 {
                    padding-top: 20rem;
                    color:@text-color-intro;
                }

                .style1 {
                    .social {
                        .contact {
                            li {
                                margin-top: 1.7rem;

                                .icons {
                                    font-size: 3rem;
                                    font-weight: bold;
                                    text-decoration: none;
                                    margin: 1.2rem 0 0 2rem;

                                    a {
                                        color: #838b8f;
                                        text-decoration: none;
                                        transition: color 1s;
                                        margin-right: 1.7rem;

                                        &:hover {
                                            color: @text-color-intro;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}