//Media Queries

@tablet: ~' ( max-width: 800px ) ';
@mobile: ~' ( max-width: 500px ) ';

//Colors

//--Background colors---
@bg-color1: #5052b5;
@bg-color2: #4c4eac;
@bg-social-color:#5e42a6;
@bg-footer-color: #493382;

//-----Text Colors------

@text-color-pri: white;
@text-color-sec: rgba(255, 255, 255, 0.55);
@text-color-ter: #b6aad2;

//--Sidebar
@sidebar-color: #312450;